html, body {
  min-width: 100%;
  min-height: 100%;
  background-color: pink;
}
section,
#toppside {
  margin: 0 auto;
  max-width: 680px;
}

#toppside {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sushi {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff; /* Ris */
    position: relative;
    box-shadow: inset 0 0 0 10px #2c2c2c; /* Tang */
  }

  .sushi::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background: #ff4f4f; /* Laks */
    border-radius: 50%;
    top: 20px;
    left: 20px;
  }

  .sushi::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffd700; /* Avokado/eggefyll */
    border-radius: 50%;
    top: 30px;
    left: 30px;
  }